# Local emulator example:
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:5000/api
# Physical device on same network example:
# EXPO_PUBLIC_API_BASE_URL=http://192.168.1.20:5000/api

EXPO_PUBLIC_API_BASE_URL=https://billji-backend-production.up.railway.app/api
